<h1>Give me some search, yo!</h1>

<form ng-controller="FormController" action="/submit_query" method="GET">

  <div ng-repeat="number in filterNumbers">
    
    <label for="query[{{number}}].property">Property</label>
    <input name="query[{{number}}].property">
    <p>

    <label for="query[{{number}}].keyword">Keyword</label>
    <input name="query[{{number}}].keyword">
    <p>

  </div>

  <div>{{query}}</div>

  <button ng-click="pushFilterNumbers()">Add more filters!!!</button>
  <input type="submit">

</form>