<h1>Give me some search, yo!</h1>

<form ng-controller="FormController" action="/submit_query" method="GET">

  <div ng-repeat="number in filterNumbers">
    
    <label for="property{{number}}">Property</label>
    <input name="property{{number}}">
    <p>

    <label for="keyword{{number}}">Keyword</label>
    <input name="keyword{{number}}">
    <p>

  </div>


  <button ng-click="pushFilterNumbers()">Add more filters!!!</button>
  <input type="submit">

</form>