<h1>Give me some search, yo!</h1>

<form action="/submit_query" method="GET">

<label for="property">Property</label>
<input name="property">

<p>
<label for="keyword">Keyword</label>
<input name="keyword">

<button>Add more filters!!!</button>
<input type="submit">

</form>